.full {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.center-it {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-size: 3em;
  font-weight: bold;
}

.share {
  font-size: 3em;
  margin-left: 4vw;
}

h3 {
  font-size: 2em;
}

.reload {
  color: blue;
  margin-left: 2vw;
}

button {
  font-size: 2em;
  font-weight: bolder;
}
