<h2>License</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus earum blanditiis corporis consectetur, corrupti eligendi id facilis error minima in, laboriosam aperiam dolorum nobis tempora quo quaerat. Commodi, quas repellat!</p>

<div>
  Check to proceed
  <input type="checkbox" (change)="checked($event)">
</div>

<hr>
<div>
  <button type="button" [routerLink]="['/form']">Proceed</button>
</div>

<div>
  <ol *ngIf="users$ | async as users">
    <li *ngFor="let u of users">
      {{ u.name }} - <code>{{ u.email }}</code>
    </li>
  </ol>
</div>
