<h1>BGG Search</h1>

<form [formGroup]="form" (submit)="processForm()">
  <table>
    <tr>
      <td>Boardgame Name:</td>
      <td>
        <input type="text" size="30" formControlName="search">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="form.invalid"> Search </button>
      </td>
    </tr>
  </table>
</form>

<div *ngIf="comments$ | async as data; else noSearch">
  <div *ngFor="let c of data">
    <table>
      <tr>
        <td>User:</td>
        <td> {{ c?.user }} </td>
      </tr>
      <tr>
        <td>Text:</td>
        <td> {{ c?.text }} </td>
      </tr>
    </table>
  </div>
  <!--
  <div *ngFor="let g of games">
    <a [href]="g.url" target="_blank">
      <h3>{{ g.name }}</h3>
    </a>
    <div>
      <img [src]="g.image" alt="">
    </div>
  </div>
  -->
</div>

<ng-template #noSearch>
  <h2>No results yet</h2>
</ng-template>
